@import "colors.css";

html {
  background-color: var(--background);
}

.bk-root {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  color: var(--text);
}

.inputs {
  color: var(--text-dimmed);
}

.noUi-base {
  background-color: var(--elements-background);
}

.footnote a {
  display: block;
  width: 100%;
  text-align: center !important;
  color: var(--text-dimmed);
  font-size: small;
}

.sma_slider {
  color: var(--sma);
}

.sma_slider .noUi-connect {
  background-color: var(--sma) !important;
}

.ecc_slider {
  color: var(--eccentricity);
}

.ecc_slider .noUi-connect {
  background-color: var(--eccentricity) !important;
}

.inc_slider {
  color: var(--inclination);
}

.inc_slider .noUi-connect {
  background-color: var(--inclination) !important;
}

.omega_slider {
  color: var(--omega);
}

.omega_slider .noUi-connect {
  background-color: var(--omega) !important;
}

.Gomega_slider {
  color: var(--Gomega);
}

.Gomega_slider .noUi-connect {
  background-color: var(--Gomega) !important;
}

.anomaly_slider {
  color: var(--anomaly);
}

.anomaly_slider .noUi-connect {
  background-color: var(--anomaly) !important;
}
